<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeopleContact.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F08C7411C9E9A50006CB485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F08C7551C9E9A51006CB485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F08C7601C9E9A51006CB485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
